.movies-button{
    color: blue; 
    background-color: rgb(211, 236, 70);
    text-align: center;
    display: inline-block;
}

body{
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}


#page-title{
    color: white;
    font-size: 35px;
    text-align: center;
}

#gifs-here{
    color:white;
}


